<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">
  Un poco sobre mi
</h1>
<p>Mi nombre es Emilio Santiago López Quiñonez</p>
<p>Soy de Guadalajara</p>
<p>Me gustan muchos los deportes</p>
<p>Uso MacOs como sistema operativo</p>
