<footer class="text-center text-sm italic mt-8">Para realizar esta página, se utilizó <a href="https://code.visualstudio.com/" class="text-slate-300 hover:text-slate-100">Visual Studio Code</a></footer>
        </div>
    </body>
</html>