<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">
  PÁGINA DE INICIO
</h1>
<p>Se pueden acceder a las siguientes páginas:</p>
<ul class="list-disc list-inside">
  <li><a class="underline" href="/">Página de inicio</a></li>
  <li><a class="underline" href="/questions">Preguntas</a></li>
  <li><a class="underline" href="/about">Sobre mí</a></li>
  <li><a class="underline" href="/sistems">Sistemas Operativos</a></li>
  <li>
      <a class="underline" href="/sistems/add">Encuesta sobre tu sistema operativo favorito</a>
  </li>
</ul>
