<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">¿Qué otras formas de autentificación existen?</p>
<p class="mt-2">
  Existen las autentificaciones pro contraseña, por tokens que van cambiando
  confrome pasa el tiempo, o las conocidas autentificaciones de dos pasos.
</p>
