<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">
  ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?
</p>
<p class="mt-2">
  Que al hacerlo de esa manera permite separar las responsabilidades en nuestro
  codigo ademas que hace que la mantenibilidad sea mas alta
</p>

<p class="font-bold mt-6">¿Qué es SQL injection y cómo se puede prevenir?</p>
<p class="mt-2">
  Es cuando en un input se introduce codigo de sql que podria afectar el
  funcionamiento de nuestra base de datos, se podria prevenir teniendo consultas
  a preparadas para que asi no pueda acfectar nuestra base de datos.
</p>
