<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">
  ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?
</p>
<p class="mt-2">res</p>

<p class="font-bold mt-6">¿Qué es SQL injection y cómo se puede prevenir?</p>
<p class="mt-2">res</p>
