<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">¿En qué consiste el control de acceso basado en roles?</p>
<p class="mt-2">
  Es una forma de agregar seguridad a tu aplicación donde varias personas con
  diferentes rangos de jerarquías están involucradas
</p>

<p class="font-bold mt-6">
  <div>
    Google cloud
    <li>Ventajas: Mayor seguridad Ayuda a tener un control más sencillo.</li>
    <li>
      Desventajas: Tener que configurarlo al inicio. Limitaciones de acciones por
      usuario.
    </li>
  </div>
  <div>
    Firebase Authentication
    <li>Ventajas: Más rápido de usar.
      </li>
    <li>
      Desventajas: Menor seguridad.
    </li>
  </div>


</p>
<p class="mt-2">res</p>
