<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">
  Diferentes sistemas operativos
</h1>
<p>Existen varios sistemas operativos, unos de los principales, son:</p>
<ul class="list-disc list-inside">
  <li>Windows</li>
  <li>MacOs</li>
  <li>Linux</li>
  <li>Android</li>
</ul>
<a class="underline" href="/sistems/add">Dime cuál es tu favorita</a>
