<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">SOBRE Mi</h1>
<ul class="list-disc list-inside">
  <li>Mi nombre es: Emilio</li>
  <li>Soy usuario de sistemas basados en MacOS.</li>
  <li>Soy de Guadalajara.</li>
  <li>Tengo la cartilla militar.</li>
</ul>
<h2 class="font-bold text-2xl text-center text-slate-100 mt-6">VIVA MÉXICO</h2>
