<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">SOBRE NOSOTROS</h1>
<ul class="list-disc list-inside">
    <li>Nuestros nombres son: Emilio y Edmundo.</li>
    <li>Somos usuarios de sistemas basados en UNIX, MacOS y GNU/Linux respectivamente.</li>
    <li>Tenemos algo en común, Emilio es de Guadalajara, y Edmundo estudió 1 semestre en guadalajara.</li>
    <li>Los 2 tenemos la cartilla militar.</li>
</ul>
<h2 class="font-bold text-2xl text-center text-slate-100 mt-6">VIVA MÉXICO</h2>