<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">Distrubuciones de Linux:</h1>
<p>Hay varias distribuciones de Linux, algunas de las principales, son:</p>
<ul class="list-disc list-inside">
    <li>Ubuntu</li>
    <li>Debian</li>
    <li>Arch</li>
    <li>Fedora</li>
    <li>CentOS</li>
</ul>
<p>Quienes usan Arch, muchas veces te dirán "I use arch BTW".</p>
<a class="underline" href="/distros/add">Dime cuál es tu favorita</a>