<form action="/log/login" method="POST">
  <div>
    <label for="username">Usuario:</label>
    <input type="text" name="username" id="username" style="padding: 8px; border-radius: 8px; border: 1px solid #ccc; width: 100%; max-width: 300px;" />
  </div>
  <div style="margin-top: 10px;">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" style="padding: 8px; border-radius: 8px; border: 1px solid #ccc; width: 100%; max-width: 300px;" />
  </div>
  <button type="submit" style="background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;"
>Iniciar sesión</button>
</form>
