<h1 class="text-4xl font-bold text-center text-slate-100 mb-6">PREGUNTAS</h1>
<p class="font-bold">¿Qué beneficios encuentras en el estilo MVC?</p>
<p class="mt-2">Permite separar el proyecto por sus componentes, su modelo, sus controladores y sus rutas; para de ésta manera tener mayor escalabilidad y organización dentro del código.</p>

<p class="font-bold mt-6">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
<p class="mt-2">En lo que una persona se acostumbra a trabajar con dicho estilo arquitectónico, puede llegar a ser difícil emplearlo de manera correcta o dividir cada petición con una sola funcionalidad.</p>