<!DOCTYPE html>
<html lang="es">
   <head>
        <link rel="stylesheet" href="styles/minmain.css">
        <title>Laboratorio 4</title>
        <meta charset="UTF-8"> 
   </head>
   <body>
        <div class="container">
            <header><small><em>Edmundo Canedo Cervantes - A01645576</em></small></header>
            <h1 class="highlight">Laboratorio 4</h1>
            <h3 class="highlight">Índice:</h3>

            <nav>
                <ul>
                    <li><a href="#problemas">Problemas de JavaScript</a></li>
                    <li><a href="#preguntas">Preguntas</a></li>
                    <li><a href="#referencias">Referencias</a></li>
                </ul>
            </nav>

            <section>
                <h2 class="highlight" id="problemas">Problemas de JavaScript:</h2>

                <ol class="list">

                    <li><p><strong class="highlight"><em>Entrada:</em> un número pedido con un prompt. <em>Salida:</em> Una tabla con los números del 1 al número dado con sus cuadrados y cubos. Utiliza <em>document.write</em> para producir la salida:</strong></p>
                        <div class="btn-container"><button id="ejercicio1">Ejecutar</button></div>
                        <div id="resp1"></div>
                        <pre>
document.getElementById("ejercicio1").addEventListener("click", function(){
    let a = Number(prompt("Ingrese un número: "));
    document.getElementById("resp1").innerHTML = "";
    for(let i=1; i&lt;=a; i++){
        let cuadrado = i*i;
        let cubo = i*i*i;
        let resp = "&lt;p&gt;Número: "+i+", Cuadrado: "+cuadrado+", Cubo: "+cubo+"&lt;/p&gt;";

        //Usted pidió document.write, sin embargo así la página ya no se podría ver, si se 
        descomenta la línea siguiente, y se comenta la de después, funcionaría como usted 
        lo pide.

        //document.write(resp);
        document.getElementById("resp1").innerHTML += resp;
    }
});</pre>
                    </li>

                    <li><p><strong class="highlight"><em>Entrada:</em> Usando un prompt se pide el resultado de la suma de 2 números generados de manera aleatoria. <em>Salida:</em> La página debe indicar si el resultado fue correcto o incorrecto, y el tiempo que tardó el usuario en escribir la respuesta. </strong></p>
                        <div class="btn-container"><button id="ejercicio2">Ejecutar</button></div>
                        <div id="resp2"></div>
                        <pre>
document.getElementById("ejercicio2").addEventListener("click", function(){
    let fechaBase = Date.now();
    let a = Math.floor(Math.random() * 10);
    let b = Math.floor(Math.random() * 10); 
    let c = a+b;
    let d = Number(prompt(a+" + "+b+" = "));
    let fechaFinal = Date.now();
    let tiempoUsado = (fechaFinal - fechaBase)/1000;
    let resp = "&lt;p&gt;El usuario se tardó "+tiempoUsado+" segundos, y respondió " + (d==c ? 
    "correctamente" : ("incorrectamente, la respuesta correcta era "+c))+".&lt;/p&gt;";

    document.getElementById("resp2").innerHTML = resp;
});</pre>
                    </li>

                    <li><p><strong class="highlight"><em>Función:</em> contador. <em>Parámetros:</em> Un arreglo de números. <em>Regresa:</em> La cantidad de números negativos en el arreglo, la cantidad de 0's, y la cantidad de valores mayores a 0 en el arreglo.</strong></p>
                        <pre>
function contador(numeros){
    let menor=0, ceros=0, mayor=0;
    numeros.forEach(i =&gt; {
        if(i&lt;0) menor++;
        else if(i==0) ceros++;
        else mayor++;
    });
    let resp = {};
    resp["menor"] = menor;
    resp["ceros"] = ceros;
    resp["mayor"] = mayor;
    return resp;
}</pre>
                    </li>

                    <li><p><strong class="highlight"><em>Función:</em> promedios. <em>Parámetros:</em> Un arreglo de arreglos de números. <em>Regresa:</em> Un arreglo con los promedios de cada uno de los renglones de la matriz.</strong></p>
                        <pre>
function promedio(matriz){
    let resp = {};
    let i = 0;
    matriz.forEach(arreglo =&gt; {
        resp[i] = 0;
        arreglo.forEach( a =&gt; {
            resp[i] += a;
        });
        resp[i] /= arreglo.length;
        i++;
    });
    return resp;
}</pre>
                    </li>

                    <li><p><strong class="highlight"><em>Función:</em> inverso. <em>Parámetros:</em> Un número. <em>Regresa:</em> El número con sus dígitos en orden inverso.</strong></p>
                        <pre>
function reverso(numero){
    let resp = 0;
    while(numero&gt;0){
        resp *= 10;
        resp += numero%10;
        numero -= numero%10;
        numero /= 10;
    }
    return resp;
}</pre>
                    </li>

                    <li><p><strong class="highlight">Crea una solución para un problema de tu elección</strong></p>
                        <p>El problema a realizar es <a href="https://codeforces.com/contest/1629/problem/A">Download more RAM</a> donde básicamente se tiene que hacer un programa que permita verificar si el sumador de números en ese momento es mayor a otro número en un arreglo.</p>
                        <pre>
"use strict";

class Ram{
    constructor(run, given){
        this.run = run;
        this.given = given;
    }

    getRun(){
        return this.run;
    }

    getGiven(){
        return this.given;
    }
}

class Sorts{
    shellSort(v){
        let gap = Math.floor(v.length/2);
        while(gap&gt;0){
            for(let i=gap; i&lt;v.length; i++){
                for(let j=i; j&gt;=gap && v[j].getRun()&lt;v[j-gap].getRun(); j-=gap){
                    let a = v[j];
                    v[j] = v[j-gap];
                    v[j-gap] = a;
                }
            }
            gap = Math.floor(gap/2);
        }
    }
}

function solve(){
    //El readline solo funciona en Codeforces
    let q = Number(readline());

    for(let i=0; i&lt;q; i++) {
        let read = readline().split(" ");
        let n = Number(read[0]);
        let ram = Number(read[1]);
        
        let rams = [];
        let v = [];
        
        read = readline().split(" ");
        for(let j=0; j&lt;n; j++) {
            v.push(Number(read[j]));
        }
        
        read = readline().split(" ");
        for(let j=0; j&lt;n; j++) {
            rams.push(new Ram(v[j], Number(read[j])));
        }

        let sorter = new Sorts();
        sorter.shellSort(rams);

        let j = 0;
        while(j&lt;n && rams[j].getRun() &lt;= ram) {
            ram += rams[j].getGiven(); 
            j++;
        }

        print(ram);
    }
}

solve();</pre>
                    </li>


                </ol>

            </section>

            <section>
                <h2 class="highlight" id="preguntas">Preguntas:</h2>
                <ol class="list">

                    <li><strong class="highlight"><em>¿Qué diferencias y semejanzas hay entre Java y JavaScript?</em></strong>
                        <details>
                            <summary><small>Respuesta:</small></summary>
                            <p>Algunas de las diferencias son el tipado, en Java se ocupa declarar el tipo de variable, mientras que en JavaScript basta únicamente con declarar una variable. Java está oriendato al POO, en comparación con JavaScript que es un lenguaje de scripting usado para crear páginas web.
                            Las aplicaciones de Java se ejecutan en una máquina virtual, lo cuál permite que se pueda ejecutar en un navegador, justo como JavaScript. De la misma manera, Java es usado para el backend más que nada, mientras que JavaScript es usado tanto para backend, como para frontend.
                            </p>
                        </details>
                    </li>

                    <li><strong class="highlight"><em>¿Qué métodos tiene el objeto Date? (Menciona al menos 5*) </em></strong>
                        <details>
                            <summary><small>Respuesta:</small></summary>
                            <p>Dentro de los métodos del objeto Date se pueden encontrar los siguientes:</p>
                            <ul>
                                <li><strong>now(): </strong>devuelve un timestamp del momento en que se ejecuta.</li>
                                <li><strong>getFullYear(): </strong>devuelve el año de la fecha.</li>
                                <li><strong>setHours(): </strong>define la hora en la fecha.</li>
                                <li><strong>getMinutes(): </strong> devuelve los minutos de la fecha.</li>
                                <li><strong>setMonth(): </strong>define el mes de la fecha.</li>
                            </ul>
                        </details>
                    </li>

                    <li><strong class="highlight"><em>¿Qué métodos tienen los arreglos? (Menciona al menos 5*)</em></strong>
                        <details>
                            <summary><small>Respuesta:</small></summary>
                            <p>Dentro de los métodos de un arreglo se pueden encontrar los siguientes:</p>
                            <ul>
                                <li><strong>pop(): </strong>elimina el último elemento en en arreglo.</li>
                                <li><strong>push(): </strong>añade un elemento al arreglo.</li>
                                <li><strong>reverse(): </strong>invierte la posición de los elementos dentro del arreglo.</li>
                                <li><strong>sort(): </strong>ordena los elementos del arreglo.</li>
                                <li><strong>fill(): </strong>llena el arreglo de un elemento en específico.</li>
                            </ul>
                        </details>
                    </li>

                    <li><strong class="highlight"><em>¿Cómo se declara una variable con alcance local dentro de una función?</em></strong>
                        <details>
                            <summary><small>Respuesta:</small></summary>
                            <p>Se declara con la palabra reservada "let" seguida del nombre de la variable, y si se le quiere asignar un valor se pone el símbolo igual("=") junto con el valor a ser asignado.</p>
                        </details>
                    </li>

                    <li><strong class="highlight"><em>¿Qué implicaciones tiene utilizar variables globales dentro de funciones?</em></strong>
                        <details>
                            <summary><small>Respuesta:</small></summary>
                            <p>Implica que puede ser usada por otro fragmento de código dentro del documento actual, lo que significa que puede ser consultada y modificada, por lo que se le tiene que ser cuidadoso y escoger cuando se deba utilizar para declarar una variable global. Hay casos donde en específico se tendrá que usar una variable global, pero en caso de que no sea necesario, lo mejor sería declararla como local, ya que así se podrían evitar fugas de datos.</p>
                        </details>
                    </li>

                </ol>

            </section>

            <section>
                <h2 class="highlight" id="referencias">Referencias:</h2>

                <p>GeeksforGeeks. (2025, January 9). Difference between Java and JavaScript. GeeksforGeeks. <a href="https://www.geeksforgeeks.org/difference-between-java-and-javascript/">https://www.geeksforgeeks.org/difference-between-java-and-javascript/</a></p>
                <p>Date - JavaScript | MDN. (2025b, January 23). MDN Web Docs. <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date</a></p>
                <p>Array - JavaScript | MDN. (2024, December 19). MDN Web Docs. <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array</a></p>
                <p>Gramática y Tipos - JavaScript | MDN. (2024, July 28). MDN Web Docs. <a href="https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Grammar_and_types">https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Grammar_and_types</a></p>

            </section>

            <footer><small><em>Para realizar esta página, se utilizó <a href="https://code.visualstudio.com/">Visual Studio Code</a></em></small></footer>
        </div>
   </body>
   <script src="javascript/code.js"></script>
</html>
