<%- include('includes/_header') %>

<br><p>Las siguientes personas han votado: </p>
<ul class="list-disc list-inside">

<% for(let i of entrevistas){ %>
    <li><%= i.nombre %>: <%= i.distro %></li>
<% } %>

</ul>

<%- include('includes/_footer') %>